<div class="container m-3">
    <h3>Liste des Groupes</h3>
    <ul class="">
        <li *ngFor="let group of groupList" >
            <span class="badge">{{group.id}}</span>
            <div *ngIf="isAdmin" class="d-flex justify-content-around m-3">
                <button class="btn btn-danger">Supprimer le groupe</button>
                <button class="btn btn-success" [disabled]="isGroupFull(group)">Ajouter un utilisateur</button>
            </div>
            <app-users-list [userList]="group.listUsers"></app-users-list>
        </li>
    </ul>
    <p *ngIf="groupList.length == 0">Aucun groupe</p>
</div>